<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
      <span><img src="./assets/images/home-logo.png"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
