<mat-drawer-container>
  <mat-drawer #drawer mode="over" opened="false">
    <app-author-list></app-author-list>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <div class="page-header">
        <button mat-icon-button (click)="drawer.toggle()" class="page-header__btn">
          <mat-icon>menu</mat-icon>
        </button>
        <h4>Authors</h4>
      </div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value, 'title')" placeholder="Filter">
      </mat-form-field>
      <mat-table [dataSource]="dataSource" matSort matSortActive="datetime" matSortDirection="asc">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value, 'title')" placeholder="Filter">
        </mat-form-field>
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="datetime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.datetime | date:'EEEE, MMMM d, y, h:mm:ss a'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="body">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Body</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.body}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="authorName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.authorName}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
