mat-row {
  line-height: 2;
}

.mat-column-title {
  flex: 0 0 100px;
}

@media screen and (max-width: 960px) {
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    position: absolute;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: center;
  }
}

mat-drawer-container {
  height: calc(100% - 100px);
}

mat-drawer {
  width: 200px;
}

.page-header {
  display: flex;
}

.page-header__btn {
  margin: 8px;
}
